<div class="bg-white rounded-lg shadow-md overflow-hidden">
  <table class="min-w-full divide-y divide-gray-200">
    
    <thead class="bg-gray-50">
    <caption class="caption-top ">
       <%= order_status(@admin_order) %>
    </caption>
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Item</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Size</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @order_items.each do |item| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900"><%= item_name(item.id) %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900"><%= item_size(item.id) %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900"><%= item_price(item.id) %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900"><%= item_quantity(item.id) %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900"><%= item_total(item.id) %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Shipping Information -->
  <div class="px-6 py-4">
    <h3 class="text-md font-semibold mb-2">Shipping Information</h3>
    <div class="text-sm text-gray-900">Email: <%= @admin_order.customer_email %></div>
    <div class="text-sm text-gray-900">Shipping Address: <%= @admin_order.address %></div>
  </div>

  <!-- Total Section -->
  <div class="border-t border-gray-300 px-6 py-4 flex justify-between">
    <span class="text-md font-semibold text-gray-700">Total:</span>
    <span class="text-md font-semibold text-gray-900"><%= grand_total(@admin_order) %></span>
  </div>
</div>
